doctype html
html
  body
    form(action="/new" method="POST")
      p name:
        input(type="text" name="name" placeholder="Enter Your name ")
      p message:
        input(type="text" name="message" placeholder="Enter Your message ")
      input(type="submit")
