h1=title

form(method='POST' action='')
  div.form-group
    label(for='first_name') First Name:
    input#first_name.form-control(type='text' placeholder='First name' name='first_name' required='true')

    label(for='last_name') Family Name:
    input#last_name.form-control(type='text' placeholder='last name' name='last_name' required='true')

  div.form-group
    label(for='birth_date') Birth Date:
    input#birth_date.form-control(type='date' name='birth_date')

  div.form-group
    label(for='email') Email:
    input#email.form-control(type='text' placeholder='email' name='email' required='true')

    label(for='password') Password:
    input#password.form-control(type='password' placeholder='password' name='password' required='true')

    label(for='repeatPassword') Repeat Password:
    input#repeatPassword.form-control(type='password' placeholder='repeat password' name='repeatPassword' required='true')

  button.btn.btn-primary(type='submit') Submit
if errors
  ul
    for error in errors
      li!= error.msg

